<h2 class="text-center">Cities!</h2>

  <% if @cities.any? %>
    <% @cities.each() do |city| %>
    <table class="table table-striped">
      <tr>
        <th>City</th>
        <th>Stations</th>
      </tr>
      <tr>
        <td>
          <%= city.city_name %>
        </td>
        <td>
          <%= city.city_stops %>
        </td>
      </tr>
    </table>
    <% end %>
  <% else %>
    <p>There are no cities in the database?</p>
  <% end %>

<a href="/">Go Back</a>
