<h2>Cities!</h2>

  <% if @cities.any? %>
    <% @cities.each() do |city| %>
    <%= city.name - city.time - city.id %>
    <% end %>
  <% else %>

    <p>There are no cities in the database?</p>

  <% end %>
