<h2>Cities!</h2>

  <% if @cities.any? %>
    <% @cities.each() do |city| %>
    <%= city.city_name %> - <%= city.city_stops %> - <%= city.id %> <br>
    <% end %>
  <% else %>
    <p>There are no cities in the database?</p>
  <% end %>
